<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health:{{monsterHealth}}</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="monsterHealthCss"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health:{{playearHealth}}</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="playearHealthCss"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h2 v-if="winner === 'monster won'">You Lost!</h2>
        <h2 v-else-if="winner === 'player won'">You Won!</h2>
        <h2 v-else>It's Draw!</h2>
        <button v-on:click="startGame()">Start New Game</button>
      </section>
      <section id="controls" v-if="!winner">
        <button v-on:click="attackMonster()">ATTACK</button>
        <button
          v-bind:disabled="specialAttack"
          v-on:click="specialAttackMonster()"
        >
          SPECIAL ATTACK
        </button>
        <button v-on:click="healplayear() ">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for=" message in logMessage">
            <span
              :class="{'log--player': message.actionBy === 'player' , 'log--monster': message.actionBy === 'monster' }"
              >{{message.actionBy === 'player' ? 'player' : 'monster' }}</span
            >
            <span v-if="message.actionType === 'heal'"
              >heals himself for:
              <span class="log--heal">{{message.actionType}}</span></span
            >
            <span v-else
              >attcks and deals
              <span class="log--damage">{{message.actionValue}}</span></span
            >
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
